body{
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100%;
}

main{
    position: relative;
    display: grid;
    grid-template-columns: 30% auto;
    grid-auto-rows: max-content;
    padding-top: 20px;
    min-height: 100%;
    grid-template-areas:
            "ban ban"
            "menu prod";
}

.banner{
    width: 1600px;
    height: 350px;
    grid-area: ban;
}

.menu{
    margin: 20px;
    background-color: #fd9000a6;
    padding: 0 0.5rem;
    height: 800px;
    grid-area: menu;
}

nav a{
    padding: 0 .5rem;
    line-height: 2rem;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
}

.products{

    height: 800px;
    grid-area: prod;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: 380px auto 20%;
    padding-top: 20px;
    grid-template-areas:"logo hledat kosik";


}

.logo {
    width: 380px;
    height: 180px;
    grid-area: logo;
}

.kosik {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    grid-area: kosik;
    bottom: 0;
}

.hledat {
    /*position: relative;*/
    margin: auto;
    border: none;
    font-size: 50px;
    bottom: 0px;
    grid-area: hledat;
    justify-content: center;
}
.searchtext  {


}

.product_item {
    display: inline-grid;
}
.product_list {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.grid-item {
    border: 20px solid rgba(0, 0, 0, 0.8);
    grid-auto-rows: max-content;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}