body{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
}

.navigation a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.navigation a:hover{
    background-color: coral;
}

/*.kosik {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    grid-area: kosik;*/
/*    bottom: 0;*/
/*}*/




main{
    position: relative;
    display: grid;
    /*grid-auto-rows: max-content;*/
    /*padding-top: 20px;*/
    min-height: 100%;
    grid-template-areas:
            'ban'
            'prod';
}

.banner{
    width: 1200px;
    height: 250px;
    grid-area: ban;
}

.products{
    display: grid;
    margin: 20px;
    height: 100%;
    grid-area: prod;
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );;

}


.product_item{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    max-width: 260px;
    margin: 20px;
    text-align: center;
    /*font-family: arial;*/

}

.proImg1 {
    max-width: 246px;
    height: 270px;
}

/*// Small screens*/
@media only screen and (max-width: 768px) {
    body {
        /*margin: 0 auto;*/
        /*min-height: 100%;*/
        background-color: aquamarine;
    }

    header {

        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas:'logo'
                    'nav';

    }

    .logo {
        position: relative;
        max-width: 100%;
        grid-area: logo;
        max-height: 100px;
        margin: auto;
    }

    .toggle, [id=drop]{
        display: none;
    }

    nav{
        grid-area: nav;
    }
    .navigation {
        width: 100%;
        grid-area: nav;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #de5047;
        height: 55px;
        padding: 0;
    }

    /*nav ul li{*/
    /*    display: inline-block;*/
    /*}*/

    .navigation a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        color: black;
    }

    .hledat {
        display: none;
        /*position: absolute;*/
        /*margin: auto;*/
        /*border: none;*/
        /*font-size: 50px;*/
        grid-area: hledat;
        /*padding-left: 50px;*/
        /*padding-top: 20px;*/
        /*justify-content: center;*/
    }

    main{
        display: none;
    }

}
@media only screen and (min-width: 770px) {

    body {
        max-width: 1200px;
        background-color: chartreuse;
    }

    header {
        position: relative;
        display: grid;
        grid-template-columns: 380px;
        padding-top: 20px;
        grid-template-areas:'logo hledat'
                        'logo navigation';

    }

    .toggle, [id=drop]{
        display: none;


    }
    nav{
        grid-area: navigation;
    }
    .navigation {
        width: 820px;
        grid-area: navigation;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #de5047;
        height: 55px;
        padding: 0;
    }
    /*nav ul li{*/
    /*    display: inline-block;*/
    /*}*/
    .navigation a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        color: black;
    }

    .hledat {
        /*position: absolute;*/
        margin: auto;
        border: none;
        font-size: 50px;
        grid-area: hledat;
        padding-left: 50px;
        padding-top: 20px;
        /*justify-content: center;*/
    }

    .logo {
        max-width: 380px;
        grid-area: logo;
    }
}