/*// Small screens*/
@media only screen and (max-width: 768px) {
    body {
        /*margin: 0 auto;*/
        /*min-height: 100%;*/
        background-color: #F6FBF9;
    }

    header {

        display: grid;
        grid-template-rows: auto auto;
        background-color: snow;
        grid-template-areas:'logo'
                    'nav';
    }

    .logo {
        position: relative;
        max-width: 100%;
        grid-area: logo;
        max-height: 100px;
        margin: auto;
    }

    .toggle, [id=drop]{
        display: none;
    }

    nav{
        grid-area: nav;
    }
    .navigation {
        width: 100%;
        grid-area: nav;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: snow;
        height: 40px;
        padding: 0;

    }

    .navigation a{
        display: flex;
        background-color: #FFBD4F;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        color: black;
    }

    .navigation a:hover{
        background-color: coral;
    }

    .search {
        display: none;
        grid-area: hledat;
    }

    main{
        background-color: ghostwhite;
        position: relative;
        display: grid;
        /*grid-auto-rows: max-content;*/
        /*padding-top: 20px;*/
        min-height: 100%;

        grid-template-areas:
            'ban'
            'prod';

    }

    .banner{
        display: none;
    }

    .products{
        display: grid;
        margin: 20px;
        height: 100%;
        grid-area: prod;
        grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );;

    }

    .product_item{
        border-style: solid;
        border-color: black;
        border-width: 2px;
        max-width: 260px;
        margin: 20px;
        text-align: center;
        /*font-family: arial;*/

    }

    .proImg1 {
        max-width: 236px;
        height: 270px;
    }

    footer{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        background-color: #FFBD4F;
        color: black;
        padding: 10px;
    }
    .cont_list{
        padding:20px;
        list-style-type:none;
    }


}
@media only screen and (min-width: 770px) {

    body {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100%;
        background-color: #FAF8FF;
        /*background-color: #0099D5;*/
    }

    header {
        position: relative;
        display: grid;
        grid-template-columns: 380px;
        padding-top: 20px;
        grid-template-areas:'logo hledat'
                        'logo navigation';
        background-color: whitesmoke;

    }

    .toggle, [id=drop]{
        display: none;


    }
    nav{
        grid-area: navigation;
        padding-top: 20px;

    }
    .navigation {
        width: 100%;
        grid-area: navigation;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: black;
        grid-gap: 2px;
        height: 35px;
        padding: 0;
    }


    .navigation a{
        display: flex;
        background-color: #FFBD4F;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        color: black;

    }
    .navigation a:hover{
        background-color: coral;
    }

    .logo {
        max-width: 380px;
        grid-area: logo;
    }

    main{
        position: relative;
        display: grid;
        min-height: 100%;
        grid-template-areas:
            'ban'
            'prod';
        background-color: ghostwhite;

    }

    .banner{
        min-width: 100%;
        max-width:100%;
        grid-area: auto;
        height:auto;
    }

    .products{
        display: grid;
        margin: 20px;
        height: 100%;
        grid-area: prod;
        grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );;

    }


    .product_item{
        border-style: solid;
        border-color: black;
        border-width: 2px;
        max-width: 260px;
        margin: 20px;
        text-align: center;
        /*font-family: arial;*/

    }

    .proImg1 {
        max-width: 246px;
        height: 270px;
    }


    footer{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        background-color: #FFBD4F;
        color: black;
        padding: 10px;
    }
    .cont_list{
        padding:20px;
        list-style-type:none;
    }

}